@media only screen and (max-width: 1000px){
    .header-button{
        padding-left: 20px;
    }
    .header-fillup{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .header-button{
        padding-left: 7px;
        padding-right: 3px;
        font-size: 15px;
        width: auto;
    }
    .footer-text{
        font-size: 10px;
    }
}